:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --color-bg: #111827;
  --color-yellow: #a3854d;
  --white-but-not: #d6d3d1; /* text-stone-300 */
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-sen: "Sen", serif;
  --font-poppins: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-comfortaa), sans-serif;
  font-weight: 400;
  color: var(--white-but-not);
  background-color: var(--color-bg);
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  margin-block: 0;
  padding-inline: 0;
}

li {
  margin-block: 0.25rem;
}

h1,
p {
  margin-block: 0.25rem;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;

  &::before {
    font-size: 1em;
    color: currentcolor;
    content: "•";
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
