:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --color-bg: #111827;
  --color-yellow: #a3854d;
  --color-sciborgs: #fddd06;
  --white-but-not: #d6d3d1; /* text-stone-300 */
  --color-orange: #f19a26;
  --color-brown: #8b6244;
  --color-gray: #b2b2b2;
  --color-lime: #ccde10;
  --color-green: #2d995d;
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-sen: "Sen", serif;
  --font-poppins: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-comfortaa), sans-serif;
  font-weight: 400;
  color: var(--white-but-not);
  background-color: var(--color-bg);
  overflow: hidden auto;
}

.handleNav {
  position: sticky;
  height: 100svh;
}

img {
  filter: drop-shadow(3px 3px 5px #000);
}

a {
  text-decoration: none;
  color: var(--white-but-not);
  pointer-events: auto;
}

ul {
  margin-block: 0;
  padding-inline: 0;
}

li {
  margin-block: 0.25rem;
}

h1,
h2,
h3, p {
  margin-block: 0.25rem;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;

  &::before {
    font-size: 1em;
    color: currentcolor;
    content: "•";
  }
}

.header {
  font-size: var(--text-5xl);
  text-align: center;
  margin-block: 0.75rem;
  filter: drop-shadow(3px 3px 5px rgb(0 0 0));
}

.smHeader {
  font-size: var(--text-2xl);
  margin-block: 0.65rem;
}

[data-tap].tap {
  animation: scaleUp 500ms ease;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(var(--scale));
  }

  100% {
    transform: scale(1);
  }
}
