:root {
  --text-xxs: 0.5rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --color-header: #d9b343;
  --color-bg: #111827;
  --inner-bg: #1f2937;
  --color-bxsci: #0f7763;
  --color-yellow: #a3854d;
  --color-sciborgs: #fddd10;
  --white-but-not: white; /* text-stone-300 */
  --color-orange: #f19a26;
  --color-brown: #8b6244;
  --color-gray: #b2b2b2;
  --color-lime: #ccde10;
  --color-green: #2d995d;
  --font-sen: "Sen", serif;
  --font-gcmilan: "GCMilan", serif;
  --font-changaone: "Changa One", serif;
  --font-courier: "Courier New", serif;
  --font-orbitron: "Orbitron", serif;
  --font-sen: "Sen", serif;
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Sen:wght@400..800&display=swap");

@font-face {
  font-family: GCMilan;
  src: url("/fonts/GCMilan.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--font-orbitron);
  font-weight: 400;
  color: var(--white-but-not);
  background-color: var(--color-bg);
  overflow: clip auto;
  overscroll-behavior: none;
}

.handleNav {
  position: sticky;
  height: 100svh;
}

.safeView {
  padding-top: 5rem !important;
}

img {
  filter: drop-shadow(3px 3px 5px #000);
}

a {
  text-decoration: none;
  color: var(--white-but-not);
  pointer-events: auto;
}

ul {
  margin-block: 0;
  padding-inline: 0;
}

li {
  margin-block: 0.25rem;
}

h1,
h2,
h3,
p {
  margin-block: 0.25rem;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;

  &::before {
    font-size: 1em;
    color: currentcolor;
    content: "•";
  }
}

.header {
  font-family: var(--font-changaone);
  font-size: var(--text-5xl);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  filter: drop-shadow(3px 3px 5px rgb(0 0 0));
  margin-block: 0.75rem;
}

.smHeader {
  font-family: var(--font-courier);
  font-size: var(--text-lg);
  font-weight: 700;
  text-transform: uppercase;
  margin-block: 0.5rem;
}

.topicHeader {
  font-family: var(--font-changaone);
  font-size: var(--text-3xl);
  text-transform: uppercase;
  margin-block: 0.5rem;
}

.dropShadow {
  filter: drop-shadow(3px 3px 5px #000);
}

.bxscilink {
  font-weight: 600;
  color: var(--color-sciborgs);
}

[data-tap].tap {
  animation: scaleUp 500ms ease;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(var(--scale));
  }

  100% {
    transform: scale(1);
  }
}

@media (width >= 48rem) {
  .smHeader {
    font-size: var(--text-xl);
    margin-block: 0.5rem;
  }
}
