img, .image {
  display: block;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  pointer-events: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.selectorContainer {
  position: relative;
  display: flex;
  gap: 1rem;
  width: fit-content;
  margin: 0 auto;
  padding: 0.75rem;
  border: 1px solid var(--white-but-not);
  border-radius: 5rem;
  box-shadow: 2px 2px 10px #000;
}

.selector {
  width: 5.5rem;
  padding: 0.75rem 0;
  font-size: var(--text-xs);
  text-align: center;
  border: 1px solid var(--white-but-not);
  border-radius: 5rem;
  cursor: pointer;
  margin-block: 0;
}

.selectorIndicator {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  width: 5rem;
  background-color: var(--color-yellow);
  border-radius: 5rem;
  opacity: 0.5;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 350ms;
  cursor: pointer;
  transform: translateX(calc(6.5rem * var(--offset)));
}

.membersContainer {
  display: grid;
  width: 100%;
  height: 24rem;
  overflow-x: hidden;
  perspective: 31.25rem;
  pointer-events: none;
  transform-style: preserve-3d;
}

#imageContainer {
  --offsetX: calc(var(--offset) * 5rem);
  --rotateY: 25deg;
  --translateZ: 5rem;
  --opacity: 0.65;

  display: inline-flex;
  transition:
    transform 400ms ease,
    opacity 350ms ease;
  grid-area: 1 / 1;
  place-items: center;
  place-self: center center;
  pointer-events: none;

  &.default {
    z-index: calc(100 - var(--offset));
    opacity: var(--opacity);
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * -0.5))
      translateZ(calc(var(--translateZ) * -1));
  }

  &.activeImage {
    z-index: 100;
    opacity: 1;
    transform: scale(1.3);
  }

  &.rightImage {
    z-index: calc(100 - var(--offset));
    opacity: calc(1 - calc(var(--offset) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * -1))
      translateZ(calc(var(--translateZ) * -1));
  }

  &.leftImage {
    z-index: calc(100 + var(--offset));
    opacity: calc(1 + calc(var(--offset) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * 1))
      translateZ(calc(var(--translateZ) * -1));
  }
}

.gridContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
}

#textContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  max-width: 14rem;
  height: 0%;
  margin-top: 0.5rem;
  text-align: center;
  background-color: var(--color-bg);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px #000;
  opacity: 0 !important;
  transition:
    height 200ms ease,
    opacity 200ms ease;
  animation: appear ease-in-out 1000ms forwards 100ms;
  grid-row: 2;

  &.show {
    height: 100%;
    border: 1px solid var(--white-but-not);
    opacity: 1 !important;
  }
}

.title {
  width: 100%;
  font-size: var(--text-xs);
}

.artist {
  width: 100%;
  font-size: var(--text-xs);
  overflow-wrap: break-word;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@media (width >= 48rem) {
  img {
    width: 8rem;
    height: 8rem;
  }

  .imageContainer {
    --offsetX: calc(var(--offset) * 5rem);

    transition:
      transform 400ms ease,
      scale 500ms ease,
      opacity 350ms ease;
  }
}
