.container {
  position: relative;
  z-index: 100;
  justify-self: center;

  --default-rotate: 11deg;
}

.container .image {
  --rotateX: 5deg;
  --rotateY: 0deg;

  width: 5rem;
  height: 5rem;
  transition: transform 500ms ease;
  transform: perspective(31.25rem) rotateY(var(--rotateY))
    rotateX(var(--rotateX));
}

.container .pos {
  position: absolute;
  z-index: 100;
  display: inline-block;
  width: calc(100% / 3);
  height: calc(100% / 2);
}

.container .pos:nth-child(1) {
  top: 0;
  left: 0;
}

.container .pos:nth-child(1):hover ~ .image {
  --rotateX: var(--default-rotate);
  --rotateY: calc(var(--default-rotate) * -1);
}

.container .pos:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}

.container .pos:nth-child(2):hover ~ .image {
  --rotateX: var(--default-rotate);
  --rotateY: 0deg;
}

.container .pos:nth-child(3) {
  top: 0;
  right: 0;
}

.container .pos:nth-child(3):hover ~ .image {
  --rotateX: var(--default-rotate);
  --rotateY: var(--default-rotate);
}

.container .pos:nth-child(4) {
  bottom: 0;
  left: 0;
}

.container .pos:nth-child(4):hover ~ .image {
  --rotateX: calc(var(--default-rotate) * -1);
  --rotateY: calc(var(--default-rotate) * -1);
}

.container .pos:nth-child(5) {
  bottom: 0;
  left: calc(100% / 3);
}

.container .pos:nth-child(5):hover ~ .image {
  --rotateX: calc(var(--default-rotate) * -1);
  --rotateY: 0deg;
}

.container .pos:nth-child(6) {
  right: 0;
  bottom: 0;
}

.container .pos:nth-child(6):hover ~ .image {
  --rotateX: calc(var(--default-rotate) * -1);
  --rotateY: var(--default-rotate);
}

@media (width >= 48rem) {
  .container .image {
    width: 8rem;
    height: 8rem;
  }
}
