---
import Seasons from "../../history.json";
import RobotLayout from "./robotLayout.astro";

export function getStaticPaths() {
  const validYears = Seasons.filter((season) => {
    return season.year >= 2003 && season.year <= new Date().getFullYear();
  });

  return validYears.map((robot) => ({
    params: { year: robot.year.toString() },
  }));
}

const { year } = Astro.params;
const season = Seasons.filter((season) => {
  return season.year.toString() == year;
});
const selSeason = season[0];
const selRobot = selSeason.robot;
---

<RobotLayout>
  <div class="container">
    <h1 class="robotHeader">{selRobot.name}</h1>
    <h3 class="infoHeader">{"played in " + selSeason.seasonName + " - " + selSeason.year}</h1>
    {selRobot.src ? <img class="robotImage" src={selRobot.src}/> : <></>}
    <a href=`https://www.thebluealliance.com/team/1155/${year}`>Blue Alliance!</a>
  </div>
</RobotLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .robotHeader {
  }

  .infoHeader {
    font-size: var(--text-sm);
    color: rgba(255, 255, 255, 0.5);
  }

  .robotImage {
    margin-top: 0.5rem;
    width: 16rem;
    height: auto;
  }
</style>
