---
import { Icon } from "astro-icon/components";

const showEmail = false;
const emails = [
  "firstinitiallastname@example.com",
  "firstinitiallastname@example.com",
];
---

<div class="container">
  <h1 class="mainHeader">Donate</h1>
  <img class="tiers" src="/sponsorTiers.png" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
    sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis
    convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
    fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada
    lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti
    sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
  </p>
  <h3 class="donateHeader">Consider donating!</h3>
  <div class="emailContainer">
    <div id="toggleEmails">
      <Icon id="selector" name="mdi:menu-right" />
      <p>Show Emails</p>
    </div>
    <div id="emailsContainer">
      <div style="padding: 0.5rem;">
        <h3 class="header">Sciborgs Contact</h3>
        <p>{emails[0]}</p>
        <h3 class="header">Sponsorships Lead</h3>
        <p class="miniInfo">(quicker response time)</p>
        <p>{emails[1]}</p>
      </div>
    </div>
  </div>
</div>

<style>
  .container {
  }

  .mainHeader {
    text-align: center;
    font-size: var(--text-5xl);
    margin-block: 0.5rem;
  }

  .tiers {
    width: 100%;
    height: auto;
    filter: drop-shadow(3px 3px 5px rgb(0 0 0));
    border: 1px black solid;
    border-radius: 0.25rem;
  }

  .donateHeader {
    margin-block: 0.5rem;
  }

  .emailContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    outline: 1px solid var(--white-but-not);
    outline-offset: -1px;
  }

  #toggleEmails {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  #selector {
    transition: rotate 350ms ease;
    rotate: 0deg;
  }

  #selector.activeIcon {
    rotate: 90deg;
  }

  #emailsContainer {
    max-height: 0;
    overflow: hidden;
    border-top: 1px solid white;
    transition: max-height 350ms ease-in-out;
  }

  #emailsContainer.emailExpand {
    max-height: var(--max-height);
  }

  .header {
    margin-block: 0rem;
  }

  .miniInfo {
    font-size: var(--text-xs);
    color: rgba(255, 255, 255, 0.25);
  }
</style>

<script is:inline>
  let showEmail = false;

  const toggle = document.getElementById("toggleEmails");
  const container = document.getElementById("emailsContainer");
  const icon = document.getElementById("selector");

  toggle.addEventListener("click", () => {
    showEmail = !showEmail;

    container.classList.toggle("emailExpand", showEmail);
    icon.classList.toggle("activeIcon", showEmail);
  });
  container.style.setProperty("--max-height", `${container.scrollHeight}px`);
</script>
