---
import Layout from "../layouts/Layout.astro";
import Team from "./team.astro";
import Media from "./media.astro";
import Members from "./members.tsx";
---

<Layout>
  <div class="container">
    <Team />
    <Members client:load />
    <Media /> <!-- Causes violation of unload  -->
  </div>
</Layout>

<style lang="scss">
  .container {
    height: 100vh;
    overflow-x: hidden;
  }
</style>