---
import DisplayMembers from "../components/displayMembers";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="safeView">
    <h1 class="header">Meet the Team</h1>
    <DisplayMembers client:load />
  </div>
</Layout>