---
import DisplayMembers from "../components/displayMembers";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1 class="header">Members</h1>
    <DisplayMembers client:load />
  </div>
</Layout>

<style>
  .container {
    padding-top: 5rem;
  }
</style>
