---
import Socials from "../components/socials.astro";
---

<div class="container">
  <div>
    <img class="logo" src="sciborgs.webp" />
    <h1 class="header">FRC Team 1155</h1>
    <Socials />
  </div>

  <div id="mobile">
    <img class="mobileLogo" src="sciborgs.webp" />
    <button style="width: 3rem; height: 3rem; background-color: red;"></button>
  </div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1rem;
    background: #a3854d;
    background: linear-gradient(
      180deg,
      rgb(163 133 77 / 100%) 0%,
      rgb(17 24 39 / 100%) 100%
    );
    background-color: var(--color-black);
  }

  .logo {
    display: block;
    width: 20rem;
    height: auto;
    animation: appear 1.5s ease forwards;
  }

  .mobileLogo {
    display: block;
    width: auto;
    height: 4rem;
    animation: appear 1.5s ease forwards;
  }

  .header {
    font-size: var(--text-2xl);
    text-align: center;
  }

  #mobile {
    position: fixed;
    top: 0;
    z-index: 101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0.75rem;
    background: linear-gradient(to bottom, #a3854d, rgb(255 0 0 / 0%));
    transition: transform 750ms ease-out;
    pointer-events: none;
    transform: translateY(-10rem);
  }

  .activeMobile {
    transform: translateY(0) !important;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (width >= 48rem) {
    .logo {
      width: 50rem;
    }

    .header {
      font-size: var(--text-3xl);
      text-align: left;
    }

    #mobile {
      visibility: hidden;
      height: 0;
    }
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("mobile");
    const isMobile = window.innerWidth <= 768;

    if (isMobile) {
      window.addEventListener("scroll", () => {
        if (window.scrollY > 200) {
          header.classList.add("activeMobile");
        } else {
          header.classList.remove("activeMobile");
        }
      });
    }
  });
</script>
