---
import Socials from "../components/socials.astro";
---

<div class="container">
  <img class="logo" src="/sciborgs.webp" />
  <h1 class="header">FRC Team 1155</h1>
  <Socials />
</div>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background: linear-gradient(
      180deg,
      rgb(163 133 77 / 100%) 0%,
      rgb(17 24 39 / 100%) 100%
    );
  }

  .logo {
    display: block;
    width: 20rem;
    height: auto;
    animation: appear 1.5s ease forwards;
  }

  .header {
    font-size: var(--text-2xl);
    text-align: center;
  }
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (width >= 48rem) {
    .logo {
      width: 50rem;
    }

    .header {
      font-size: var(--text-3xl);
      text-align: left;
    }
  }
</style>
