<div class="container">
  <div>
    <div>
      <h1>Our School</h1>
      <img src="bxsci.webp" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
      ex sapien vitae pellentesque sqem placerat. In id cursus mi pretium tellus
      duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
      vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
      malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos.
    </p>
  </div>

  <div>
    <div>
      <h1>Our Team</h1>
      <img src="bxsci.webp" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
      ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus
      duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
      vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
      malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos.
    </p>
  </div>
</div>

<style>
  img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }
  .container {
    width: 80%;
    margin-inline: auto;

    h1 {
      text-align: center;
      margin-block: 1.25rem;
    }
  }
</style>
