---
import Socials from "../components/socials.astro";
import { team_desc } from "../../public/info.json";
---

<div class="container">
  <img src="/sciborgs.webp" />
  <h1>FRC Team 1155</h1>
  <p>{team_desc}</p>
  <Socials />
</div>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background: linear-gradient(
      180deg,
      rgb(163 133 77 / 100%) 0%,
      rgb(17 24 39 / 100%) 100%
    );

    img {
      display: block;
      width: 20rem;
      height: auto;
      animation: appear 1.5s ease forwards;
    }

    h1,
    p {
      font-size: var(--text-2xl);
      text-align: center;
    }

    p {
      font-size: var(--text-xs);
      width: 80%;
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (width >= 48rem) {
    .container {
      img {
        width: 50rem;
      }

      h1 {
        font-size: var(--text-3xl);
        text-align: left;
      }
    }
  }
</style>
