---
import "../styles/_base.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SciBorgs | FRC Team 1155</title>
    <meta property="og:title" content="SciBorgs | FRC Team 1155" />
    <meta property="og:url" content="https://www.sciborgs1155.com/" />
    <meta property="og:image" content="https://sciborgs1155.com/favicon.png" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#a3854d" />
  </head>
  <body>
    <slot />
  </body>
</html>
