---
import MobileHeader from "../components/header.astro";
import "../styles/_base.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SciBorgs | FRC Team 1155</title>
    <meta property="og:title" content="SciBorgs | FRC Team 1155" />
    <meta property="og:url" content="https://www.sciborgs1155.com/" />
    <meta
      property="og:image"
      content="https://sciborgs1155.com/favicon.png?size=512"
    />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#a3854d" />
  </head>
  <body>
    <MobileHeader />
    <slot />
  </body>
  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      const header = document.getElementById("mobile");
      const tab = document.getElementById("mobileTab");

      const isMobile = window.innerWidth <= 768;

      if (isMobile) {
        window.addEventListener("scroll", () => {
          if (window.scrollY > 200) {
            header.classList.add("activeMobile");
          } else {
            header.classList.remove("activeMobile");
          }
        });
      }
    });
    
    document.addEventListener("touchstart", (e) => {
      const el = e.target.closest("[data-tap]");
      if (!el) return;

      el.classList.remove("tap");
      void el.offsetWidth;
      el.classList.add("tap");
    });
  </script>
</html>
