---
import Header from "../components/header.astro";
import "../styles/_base.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SciBorgs | FRC Team 1155</title>
    <meta property="og:title" content="SciBorgs | FRC Team 1155" />
    <meta property="og:url" content="https://www.sciborgs1155.com/" />
    <meta
      property="og:image"
      content="https://sciborgs1155.com/favicon.png?size=512"
    />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#a3854d" />
  </head>
  <body>
    <Header />
    <slot />
  </body>
  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      const isMobile = window.innerWidth <= 768;
      const navBar = document.getElementById("navBar");

      if (window.location.pathname != "/") {
        navBar.classList.add("activeMobile");
        return;
      }

      if (isMobile) {
        window.addEventListener("scroll", () => {
          if (window.scrollY > 200) {
            navBar.classList.add("activeMobile");
          } else {
            navBar.classList.remove("activeMobile");
          }
        });
      } else {
        navBar.classList.add("activeMobile");
      }
    });

    document.addEventListener("pointerdown", (element) => {
      const selected = element.target.closest("[data-tap]");
      if (!selected) return;

      const scale = selected.dataset.tap;
      selected.style.setProperty("--scale", scale);

      selected.classList.remove("tap");
      void selected.offsetWidth;
      selected.classList.add("tap");
    });
  </script>
</html>
